.settings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--primary-gap);
  row-gap: var(--secondary-gap);
  padding: calc(var(--primary-gap) * 2) 0;
  width: 100%;
}

.settings > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings :nth-child(-n + 2) {
  grid-column: span 2;
}

.extra-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
  padding-bottom: var(--primary-gap);
}

.extra-buttons :nth-child(n) {
  background-color: var(--secondary-color);
}

.extra-buttons-new-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
}

.extra-buttons-new-keyboard :nth-child(-n + 2) {
  grid-column: span 2;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
}

.keyboard :nth-child(4) {
  grid-row: span 2;
  background-color: var(--secondary-color);
}

.keyboard :nth-child(11) {
  grid-row: span 2;
  background-color: var(--secondary-color);
}

.keyboard :nth-child(12) {
  grid-column: span 2;
}

.variable-keyboard-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--primary-gap);
}

.extra-var-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
  border-radius: var(--primary-gap);
}

.extra-var-button {
  background-color: var(--secondary-color);
  border: none;
}

.variable-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
  margin-top: var(--primary-gap);
}

.variable-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--primary-gap);
  transition: background-color 0.3s;
}
