:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .MuiButton-root {
  border-radius: 15px;
}

body .MuiButton-text {
  background-color: #494eb1;
  color: #ffffff;
}

body .MuiButton-text:hover {
  background-color: #535bf2;
}

body .MuiButton-outlined {
  background-color: #494eb1;
  border-color: #00000000;
  color: white;
}

body .MuiButton-outlined:hover {
  background-color: #535bf2;
  border-color: #00000000;
  color: white;
}

body .MuiButton-contained {
  background-color: #646cff;
  color: white;
}

body .MuiButton-contained:hover {
  background-color: #535bf2;
  color: white;
}

body .MuiSlider-root {
  color: #494eb1;
}

body .MuiTextField-outlined {
  border-color: #b1499a;
}

body .MuiCard-root {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #494eb1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}