*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: clamp(0.9rem, 0.1rem + 1.6vh, 1.2rem);
}

h2 {
  margin-top: 0;
  font-size: calc(clamp(0.9rem, 0.1rem + 1.6vh, 1.2rem) * 1.5);
}

h3 {
  margin-top: 0;
  margin-bottom: '1rem';
  font-size: calc(clamp(0.9rem, 0.1rem + 1.6vh, 1.2rem) * 1.3);
}

p {
  font-weight: 500;
  font-size: clamp(0.9rem, 0.1rem + 1.6vh, 1.2rem);
  line-height: 2.3;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  --primary-color: #646cff;
  --secondary-color: #494eb1;
  --primary-gap: 0.7rem;
  --secondary-gap: 0.5rem;
  --button-border-radius: 0.8rem;
}

@media (max-width: 820px) {
  html,
  body,
  #root {
    min-height: 100svh;
  }
}

.card {
  max-width: 30rem;
  width: 90%;
  min-width: 20rem;
  min-height: 50svh;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

button {
  background: var(--primary-color);
  border: none;
  border-radius: var(--button-border-radius);
  padding: clamp(0.5rem, 0.2rem + 1.5vh, 1.2rem) 0;
  color: white;
  transition: background-position 0.1s ease, transform 0.1s ease;
  /* Анимация фона и трансформации */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.history-button {
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: var(--button-border-radius);
  background-color: var(--secondary-color);
  color: white;
  position: relative;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  overflow: hidden;

  span {
    position: relative;
    left: -0.5em;
    transition: all 0.25s;
  }

  &::before,
  &::after {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--secondary-color);
    transition: all 0.25s;
    color: #fff;
  }

  &::before {
    width: 25px;
    content: '\f054';
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "FontAwesome";
    font-size: 10px;
    font-weight: bold;
    text-indent: 5px;
    border-radius: 50% 0 0 50%;
    z-index: 1;
  }

  &::after {
    width: 100%;
    transform: translate(100%, 0);
    content: attr(data-hover);
    display: flex;
    align-items: center;
    text-align: left;
    text-indent: 8px;
  }
}

@media (hover: hover) {
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px var(--primary-color);
    cursor: pointer;
  }

  button:active {
    transform: translateY(3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .history-button:hover {
    &:hover {
      border-color: var(--secondary-color);

      span {
        left: -100%;
      }

      &::before {
        right: 20%;
      }

      &::after {
        right: 20%;
      }
    }
  }

  .history-section button:hover {
    transform: none;
  }

  .history-section button:active {
    transform: translateY(3px);
  }
}

@media (hover: none) {
  button:active {
    transform: translateY(3px);
    box-shadow: 0px 6px 15px var(--primary-color);
  }
}

.input-history {
  width: 100%;
  height: 2rem;
  border: none;
  padding-right: 1rem;
  text-align: end;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.0);
}

.input-input {
  width: 100%;
  height: 3rem;
  padding-right: 1rem;
  text-align: end;
  border-radius: var(--button-border-radius);
  border: 1px solid slategray;
  outline: none;
}

.input-input:focus {
  border-color: var(--primary-color);
}

body .MuiSlider-root {
  color: var(--secondary-color);
}

.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--primary-gap);
  row-gap: var(--secondary-gap);
  padding: calc(var(--primary-gap) * 2) 0;
  width: 100%;
}

.settings>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .settings :nth-child(3) {
  grid-column: span 2;
} */

.extra-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
  padding-bottom: var(--primary-gap);
}

.extra-buttons :nth-child(n) {
  background-color: var(--secondary-color);
}

.extra-buttons-new-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--primary-gap);
}

.extra-buttons-new-keyboard :nth-child(1) {
  grid-column: span 4;
}

.extra-buttons-new-keyboard :nth-child(-n+5) {
  background-color: var(--secondary-color);
}

.extra-buttons-new-keyboard :nth-child(14) {
  grid-column-start: 4;
  grid-row: 5 / 7;
  background-color: var(--secondary-color);
}

.extra-buttons-new-keyboard :nth-child(15) {
  grid-column: span 3;
}

.extra-buttons-new-keyboard :nth-child(16) {
  grid-column: span 3;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--primary-gap);
}

.keyboard :nth-child(4) {
  grid-row: span 2;
  background-color: var(--secondary-color);
}

.keyboard :nth-child(11) {
  grid-row: span 2;
  background-color: var(--secondary-color);
}

.keyboard :nth-child(12) {
  grid-column: span 2;
}

.history-section {
  max-height: 80svh;
  overflow-y: auto;
}

.history-section::-webkit-scrollbar {
  display: none;
}

.history-section button {
  padding: var(--secondary-gap);
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.3rem + 1vh, 1.2rem);
}

.history-section h1 {
  padding-left: var(--primary-gap);
}

.history-section-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--primary-gap);
  padding-bottom: calc(var(--primary-gap) * 1.5);
  margin: var(--primary-gap);
}

.history-section-top :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.history-section-top :nth-child(2) {
  grid-column: 4;
}

.history-section-cards {
  border: 1px solid var(--primary-color);
  border-radius: var(--primary-gap);
  padding: var(--primary-gap);
  margin-bottom: var(--primary-gap);
}

.history-section-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--primary-gap);
}