*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#root {
  padding: 0;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top left, #ff7b7b, #a777e3, #6fe3ff);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;

  --primary-color: #cfa4bca4;
  --primary-padding: clamp(1rem, 3rem + 5vw, 5rem);
  --secondary-padding: clamp(1rem, 1.5rem + 2.5vw, 2.5rem);
  --button-border-radius: 0.8rem;

  --h1-clamp: clamp(1.5rem, 1.5rem + 7vw, 6rem);
  --h2-clamp: clamp(0.75rem, 0.75rem + 3.5vw, 3rem);
  --h3-clamp: clamp(0.6rem, 0.6rem + 1.75vw, 1.5rem);
  
}

html, body {
  overflow: -moz-scrollbars-none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none; /* Для Firefox */
}

::-webkit-scrollbar {
  display: none; /* Для WebKit-браузеров */
}



/* GENERAL */

button {
  display: grid;
  font-size: var(--h3-clamp);
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: transparent;
}

@media (hover :hover) {
  button {
    cursor: pointer;
  }
}

h1 {
  padding-top: 1rem;
  font-size: var(--h1-clamp);
  color: white;
}

h2 {
  font-size: var(--h2-clamp);
  line-height: 1;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: white;

}

h3 {
  font-size: var(--h3-clamp);
  line-height: 1;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  color: white;

}

input {
  font-size: var(--h3-clamp);
  width: 100%;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white; /* Замените на нужный цвет */
  opacity: 0.7; /* Сделать плейсхолдер полностью непрозрачным, если нужно */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* Chrome, Safari, Edge, Opera */
  margin: 0;
}

/* CONTAINER */

.main-container {
  min-width: 20rem;
  width: 90%;
  max-width: 40rem;
}

/* TITLE */

.title {
  text-align: center;
}

.title :nth-child(1) {
  padding-top: var(--primary-padding);
  /* padding-bottom: var(--secondary-padding); */
  /* border-bottom: 1px solid white; */
  margin-bottom: var(--secondary-padding);
}

.title :nth-child(2) {
  padding-bottom: var(--primary-padding);
}

.card-title.no-border {
  border-bottom: none;
}

/* SECOND SECTION */

.main-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  margin-bottom: var(--secondary-padding);
  gap: 1rem;
}

.main-buttons h3 {
  padding-top: 1rem;
}

/* CARDS */

.card {
  display: grid;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие фона */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Лёгкий белый полупрозрачный бордер */
  border-radius: var(--secondary-padding);
  margin-bottom: var(--secondary-padding);
  min-width: 20rem;
  width: 100%;
  max-width: 40rem;
}

.card-total {
  display: grid;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие фона */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
  border-radius: var(--secondary-padding);
  margin-bottom: var(--secondary-padding);
  border: 2px solid rgba(255, 255, 255, 0.3); /* Лёгкий белый полупрозрачный бордер */

  /* box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2); */
  min-width: 20rem;
  width: 100%;
  max-width: 40rem;
}

hr {
  margin-bottom: var(--secondary-padding);
  border: none;
  height: 1px;
  background-color: white;
}

.card-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.card-title-res {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-main {
  display: grid;
  padding: 1rem 0;
  gap: 1rem;
}

.card-product {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.card-product-res {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(0.1rem, 0.1rem + 1vw, 1rem);
}

.card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
}

/* ICONS */

.icons-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--h2-clamp) / 1.5);
  width: calc(var(--h2-clamp) / 1.5);
  color: white;
}

.icons-style-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--h2-clamp) / 1);
  width: calc(var(--h2-clamp) / 1);
  color: white;
}

/* GENERAL MODAL CARD */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  z-index: 100;
}

/* MODAL CARD ADD PERSON */

.modal-card {
  padding: 2rem 2rem;
  background: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие фона */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Лёгкий белый полупрозрачный бордер */  border-radius: var(--secondary-padding);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  min-width: 20rem;
  width: 90%;
  max-width: 40rem;
}

.modal-card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem
}

.modal-card-main input {
  background-color: transparent;
  border: none;
  text-align: center;
}

.modal-card-bottom {
  height: 3rem;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
}

.modal-card-bottom > * {
  color: white;
}

/* MODAL CARD ADD PRODUCT */

.modal-card-add-item {
  display: grid;
  grid-template-columns: 2fr 0.2fr 1fr 0.2fr 1fr;
  row-gap: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
  align-items: center;
  color: white;
}

.modal-card-add-item :nth-child(6) {
  grid-column: span 5;
}

.modal-card-add-item :nth-child(7) {
  grid-column: span 5;
  width: 30%;
}

.modal-card-add-item input {
  text-align: center;
  background-color: transparent;
  border: none;
}

.modal-card-add-item button {
  border: 1px solid white;
}

/* Modal CARD MANAGE PERSON */

.manage-card-title {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.manage-card-main {
  display: grid;
  gap: 2rem
}

.manage-card-main input {
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid white;
}

.manage-card-title button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.manage-card-title button>* {
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
}

.fade-enter {
  opacity: 0;
  transform: rotateX(-90deg); /* Начальное положение, повёрнутое назад */
}

.fade-enter-active {
  opacity: 1;
  transform: rotateX(0deg); /* Конечное положение */
  transition: opacity 300ms ease-in, transform 300ms ease-in; /* Параметры анимации */
}

.fade-exit {
  opacity: 1;
  transform: rotateX(0deg); /* Начальное положение перед выходом */
}

.fade-exit-active {
  opacity: 0;
  transform: rotateX(-90deg); /* Поворачиваем назад перед исчезновением */
  transition: opacity 300ms ease-in, transform 300ms ease-in; /* Параметры анимации */
}
